TLD=your.tld
VOLUMES_PATH=/path/to/volumes
MEDIA_PATH=/path/to/media
LOGS_PATH=/path/to/logs
OPENVPN_PW=openvpn-pw
OPENVPN_USER=openvpn-user
SLACK_SERVICE_PATH=slack-service-path
SONARR_API_KEY=sonarr-api-key
RADARR_API_KEY=radarr-api-key